@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

:root {
  --rose: #ab6dde;
  --light-rose: #ab6dde;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
 
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 4.5rem;
  color: var(--black);
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--light-rose);
  z-index: -1;
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--light-rose);
  color: var(--black);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-align: center;
}

.btn:hover {
  background: var(--rose);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
  
}

.header .logo span {
  color: var(--rose);
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: var(--rose);
}

.header .navbar a:hover {
  color: var(--rose);
}

.header.active {
  padding: 2rem 9%;
  box-shadow: var(--box-shadow);
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--rose);
  display: none;
}

.home {
  background: url(../images/background.jpg);
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;

  text-align: center;
  overflow-x: hidden;
}

.home h3 {
  color: #ffffffbd;
  font-size: 7.5vw;
  animation: flicker 2s ease-in-out infinite alternate;
}

@keyframes flicker {
  from {
    text-shadow: 0 0 5px #ffffffa3, 0 0 10px #00ddffa0, 0 0 20px #00ddffaf,
      0 0 40px #00ddff91;
  }
  to {
    text-shadow: 0 0 5px #ffffff97, 0 0 10px #50099c7e, 0 0 20px #5f099c79,
      0 0 40px #5a099c8a;
  }
}

.home h4 {
  color: #cdc9ffb7;
  font-size: 2vw;
}

.home img {
  width: 30%;
}




.swiper-pagination-bullet-active {
  background: var(--rose);
}

.projects h2{
    margin-top: 5rem;
    font-size: 3rem;
    color: var(--black);
}
.projects h3{
    font-size: 2rem;
    color: #6d68a7;
}

.projects .projects-slider {
  padding: 1rem;
  padding-bottom: 4rem;
}

.projects .projects-slider .box {
  margin: 2rem 0rem;
  padding: 4rem;
  text-align: center;

}

.projects .projects-slider .box img {
  height: 40rem;
}

.projects .projects-slider .box video {
    height: 40rem;
  }
.projects .projects-slider .swiper-slide-active {
    transform: scale(1.2);
  }
  

.projects .projects-slider .box:hover img, .box:hover video {
  transform: scale(1.1);
}

.projects .projects-slider .box .content h3 {
  font-size: 2.2rem;
  color: var(--black);
}

.projects .recipe-website-video video {
    width: 100%;
    padding: 2rem 0rem;
}

.about h1{
   
    color: var(--black);
}

.about h2{
    font-size: 2.5rem;
   text-align: center;
   font-style: italic;
   margin: 2rem;
}

.about h3 {
    font-size: 2rem;
    color: #6d68a7;
    text-align: center;
    line-height: 4rem;
}


.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #434974;

  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.7rem;
  font-weight: 500;
}

.select:hover {
  background: var(--black);

  box-shadow: 0 0 0.8em #26489a;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #272b45ba;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #d0d3db;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  font-size: 1.7rem;
  font-weight: 500;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
}

.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #272b45ba;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(10px);
}

.menu-open {
  display: block;
  opacity: 1;
}
.about .review-slider {
  padding-bottom: 3rem;
}

.about .review-slider .box {
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  opacity: 0.4;
  transform: scale(0.9);
}

.about .review-slider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}

.about .review-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.about .review-slider .box .content p {
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
}

.about .review-slider .box .content h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding-bottom: 0.5rem;
}

.about .review-slider .box .content .stars i {
  color: var(--rose);
  font-size: 1.7rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}

.contact .row form {
  padding: 2rem;
  flex: 1 1 42rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  border-radius: 0.5rem;
}

.contact .row form h3 {
  font-size: 3rem;
  color: var(--black);
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  text-transform: none;
  border: var(--border);
  margin: 0.7rem 0;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact {
  background: var(--light-rose);
  padding-bottom: 8rem;
}

.contact .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.contact .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--black);
}

.contact .box-container .box a {
  display: block;
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--black);
}

.contact .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.contact .box-container .box a:hover i {
  padding-right: 2rem;
}

.contact .credit {
  text-align: center;
  padding: 1.5rem;
  padding-top: 2.5rem;
  margin-top: 2rem;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--black);
  
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  #login-btn .btn {
    display: none;
  }

  #login-btn i {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #434974ca;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    margin: 2rem;
    display: block;
    font-size: 2rem;
  }

  .header .logo {
    font-size: 2.5rem;
    color: #d2d8ffca;
    font-weight: bold;
    
  }

  .home h3{
    font-size: 6rem;
  }

  .home h4{
    font-size: 2rem;
  }

  .home img {
    width: 35%;
   
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }


}
